<section data-ng-controller="PolesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Poles</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="pole in poles" data-ng-href="/#!/poles/{{pole._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="pole.created | date:'medium'"></span>
				by
				<span data-ng-bind="pole.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="pole.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!poles.$resolved || poles.length">
    	No Poles yet, why don't you <a href="/#!/poles/create">create one</a>?
    </div>
</section>