<section data-ng-controller="DashboardController" layout="row" flex>
	
	<div layout="column" class="left-spacer"  hide-md hide-sm>
		
	</div>
	<div layout="column" flex class="view">
  <div layout="row" layout-wrap>
    <div class="bg-white card-third">
      
      <md-content class="pad-10">
        <p class="hd3">Enumerations</p>
        
      </md-content>
        
      
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
      </div>
    </div>
    <div class="bg-white card-third ">
      
      <md-content class="pad-10">
        <p class="hd3">Stock</p>
        
      </md-content>
        
      
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
      </div>
    </div>
    <div class="bg-white  card-third">
      
      <md-content class="pad-10">
        <p class="hd3">Orders</p>
        
      </md-content>
        
      
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
      </div>
    </div>
    <div class="bg-white  card-third">
      
      <md-content class="pad-10">
        <p class="hd3">Extraction</p>
        
      </md-content>
        
      
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
      </div>
    </div>
    <div class="bg-white  card-third">
      
      <md-content class="pad-10">
        <p class="hd3">Treatment</p>
        
      </md-content>
        
      
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
      </div>
    </div>
    <div class="bg-white  card-third">
      
      <md-content class="pad-10">
        <p class="hd3">Quotation</p>
        
      </md-content>
        
      
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
      </div>
    </div>
    <div class="bg-white card-third">
      
      <md-content class="pad-10">
        <p class="hd3">Deliveries</p>
        
      </md-content>
        
      
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
      </div>
    </div>
  </div>
	 <!-- <div class="bg-white mar-5 custom-card">
      
      <md-content class="pad-10">
      	<p class="hd3">Enumerations</p>
        
      </md-content>
        
      
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
      </div>
    </div> -->
	</div>
</section>


