    <div data-ng-controller="HeaderController" flex>

    	<md-toolbar class="md-primary md-hue-2 z-high">
     	<div layout="row" layout-align="start center">
     		<div layout="row">
     			<div layout="row" class="mar-t-10 mar-l-10" hide-gt-md>
	     			<md-button ng-click="toggleLeft()">
	     			<ng-md-icon icon="menu" style="fill: {{white}}" size="25"></ng-md-icon> 
	     			</md-button>
	     			
	     		</div>
	     		<div layout="row logo-header" class="mar-l-20 mar-t-15"  layout-align="start center">

	     			<p class="hd3 bold">
	     				<span class="deeporange">DG</span> <span class="light"> | Diggersrest</span><span></span>
	     			</p>
	     		</div>
     		</div>
     		<div layout="row" layout-align="end center" flex>
     			<div layout="row">
     				
     			</div>
     			<div layout="row" layout-align="end center">
     				<div layout="row">
     					<md-button ng-click="toggleLeft()">
     						<div class="mar-t-5">
     							<ng-md-icon icon="search" style="fill: {{white}}" size="25"></ng-md-icon> 
     						</div>
		     				
		     			</md-button>
     				</div>
     				<div layout="row">
     					<md-button ng-click="toggleLeft()">
     						<div class="mar-t-5">
		     				<ng-md-icon icon="group" style="fill: {{white}}" size="25"></ng-md-icon> 
		     				</div>
		     			</md-button>
     				</div>
     				<div layout="row">
     					<md-button ng-click="toggleLeft()">
     						<div class="mar-t-5">
		     				<ng-md-icon icon="more_vert" style="fill: {{white}}" size="25"></ng-md-icon> 
		     				</div>
		     			</md-button>
     				</div>
     			</div>
     		</div>

     		
     	</div>
      <!-- <div class="bg-white pad-0 mar-0">
        <div layout="row" flex class="tools" layout-align="start center" >
	  			
       			<md-button class="tool-btn pad-t-5" aria-label="Side Menu"  hide-gt-lg ng-click="toggleLeft()">
	  				<div layout="column" layout-align="center center mar-t-5">
	  					<ng-md-icon icon="menu" style="fill: {{dgrey}}" size="20px"></ng-md-icon> 
	  				</div>
          			
       			</md-button>
       			<md-button class="tool-btn pad-t-5" aria-label="Side Menu" >
	  				<div layout="column" layout-align="center center mar-t-5">
	  					<ng-md-icon icon="email" style="fill: {{dgrey}}" size="20px"></ng-md-icon> 
	  				</div>
          			
       			</md-button>
       			<md-button class="tool-btn pad-t-5" aria-label="Side Menu">
	  				<div layout="column" layout-align="center center mar-t-5">
	  					<ng-md-icon icon="settings" style="fill: {{dgrey}}" size="20px"></ng-md-icon> 
	  				</div>
          			
       			</md-button>
       			<md-button class="tool-btn pad-t-5" aria-label="Side Menu">
	  				<div layout="column" layout-align="center center mar-t-5">
	  					<ng-md-icon icon="color_lens" style="fill: {{dgrey}}" size="20px"></ng-md-icon> 
	  				</div>
          			
       			</md-button>

	  		</div>
	  		
      </div> -->
    </md-toolbar>

<!-- 	  <div class="" flex data-ng-show="authentication.user">
	  	<div layout="row" flex>
	  		
	  		<div layout="row" class="user" layout-align="end center" >
	  			<md-button class="login-btn " aria-label="Side Menu" ng-click="toggleProfile()">
	  				<div layout="row" layout-align="center center">
	  					<span class="mar-5" flex hide-sm><img data-ng-src="{{authentication.user.profileImageURL}}" class="header-profile-image "/> </span>
	  					<span class="hd5 mar-l-5 pad-t- dgrey">{{authentication.user.displayName}} </span> 
	  				</div>
          			
       			</md-button>
	  		</div>
	  	</div>
	    <div layout="column" class="profile-block firstSampleAnimation" data-ng-hide="colProfile" >
	    	<div layout="row" flex layout-align="end center">
	    		<md-button class="sidebar-btn pad-t-5" aria-label="Close Profile Menu" ng-click="toggleProfile()">
	  				<div layout="row" layout-align="center center mar-t-5">
	  					<ng-md-icon icon="arrow_forward" style="fill: {{dgrey}}" size="20px"></ng-md-icon> 
	  				</div>
          			
       			</md-button>
	    	</div>
	    	<div layout="column"  flex>
	    		<ul class="normal-ul">
	    			<li>
	    				<md-button area-label="Button" flex layout="row" class="sidebar-btn" ng-click="toggleProfile()">
			              <span class="pad-t-8">
			                <ng-md-icon icon="dialpad" style="fill: {{white}}" size="18"></ng-md-icon> 
			              </span>
			              <span class="pad-t-8 mar-l-10 hd5 g-600">Change Password</span>
			            </md-button>
	    			</li>
	    			<li>
	    				<md-button area-label="Button" flex layout="row" class="sidebar-btn" ng-click="toggleProfile()">
			              <span class="pad-t-8">
			                <ng-md-icon icon="account_box" style="fill: {{white}}" size="20"></ng-md-icon> 
			              </span>
			              <span class="pad-t-8 mar-l-10 hd5 g-600">Edit Profile</span>
			            </md-button>
	    			</li>
	    			<li>
	    				<md-button area-label="Button" flex layout="row" class="sidebar-btn" ng-click="toggleProfile()">
			              <span class="pad-t-8">
			                <ng-md-icon icon="portrait" style="fill: {{white}}" size="20"></ng-md-icon> 
			              </span>
			              <span class="pad-t-8 mar-l-10 hd5 g-600">Profile Picture</span>
			            </md-button>
	    			</li>
	    			<li>
	    				<md-button area-label="Button" flex layout="row" class="sidebar-btn" ng-click="toggleProfile()" >
			              <span class="pad-t-8">
			                <ng-md-icon icon="lock_outline" style="fill: {{white}}" size="20"></ng-md-icon> 
			              </span>
			              <span class="pad-t-8 mar-l-10 hd5 g-600"><a href="/api/auth/signout" target="_self" >Signout</a></span>
			            </md-button>
	    			</li>

	    		</ul>
	    	</div>
	    </div>
	  </div>
 -->

	  
	

    <!-- <md-toolbar layout="row">
    	<div flex-gt-md="10" flex-gt-lg="20" flex-sm="10" flex-md="10" layout="row" layout-align="center center">
    	<div flex hide-gt-lg layout="row" layout-align="start center">
    		<md-button class="menu" hide-gt-lg ng-click="toggleLeft()" aria-label="Show User List">
           <ng-md-icon icon="menu" size="30" ng-attr-style="fill: {{fill}}"></ng-md-icon>

        </md-button>
    	</div>
    	<div flex hide-sm hide-md layout="row" layout-align="start center">
    		<img data-ng-src="modules/core/img/brand/tzn-black.png" data-ng-style="{'height' : '40px'}">
    		<span hide-lg><h1 class="md-toolbar-tools txt-blk">Tzaneen Cycling</h1></span>

 
    	</div>
        
        </div>
        <div flex-gt-lg="20" layout="row" layout-align="start center" hide-gt-md>
    		<img data-ng-src="modules/core/img/brand/tzn-black.png" data-ng-style="{'height' : '40px'}">
    		<span><h1 class="md-toolbar-tools txt-blk">Tzaneen Cycling</h1></span>
    	</div>
        <div flex  layout="row" layout-align="end end" layout-fill hide-sm hide-md>
       
        <md-tabs class="md-primary" layout="column" layout-align="end end">
        	<md-tab  data-ng-repeat="item in topbar.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);"   id="tab1" aria-controls="tab1-content" data-ui-sref="{{item.state}}" >
	        <span class="txt-dgrey">{{item.title}}</span>
	      </md-tab>
	      
	      
	      </md-tabs>
      </div>
      <div flex-gt-sm="20" flex-gt-lg="10">

      		<div layout="column" class="pos-rt">
      			<div layout="row"  data-ng-hide="authentication.user" layout-align="end start">
						<md-button class="btn-text-std " data-ui-sref="authentication.signin" layout="row" layout-align="start start">
							<div><ng-md-icon icon="input" size="20" ng-attr-style="fill: {{fill}}"></ng-md-icon><br><span class="txt-dgrey">signin</span></div>
						</md-button>
					</div>
					<div layout="row"  data-ng-show="authentication.user" layout-align="end start" >
						<md-button class="btn-text-std pad-5" layout="row" layout-align="start start" layout-align="center center" data-ng-click="toggleProfile()" aria-label="Toggle the Profile Setting menu">
							
							<span class="mar-5" flex hide-sm><img data-ng-src="{{authentication.user.profileImageURL}}" class="header-profile-image "/> {{authentication.user.displayName}} </span>
							<span class="mar-5" flex hide-gt-sm><img data-ng-src="{{authentication.user.profileImageURL}}" class="header-profile-image "/></span>
						</md-button>
						
						
					</div>
					<div data-ng-hide="collapseProfile">

					<md-content class="shadow">
					    <md-list >
					    	<md-item >
					    	
					        <md-item-content data-ng-click=closeProfile();>
					          <div class="md-tile-content item">
					           <ng-md-icon icon="cancel" size="20" ng-attr-style="fill: {{dgrey}}"></ng-md-icon>
					          </div>
					        </md-item-content>
					      </md-item>
					     
					      <md-item data-ui-sref="settings.profile">
					        <md-item-content >
					          <div class="md-tile-content item">
					           <span class="txt-dgrey txt-normal">Edit Profile</span>
					          </div>
					        </md-item-content>
					      </md-item>
					      <md-item data-ui-sref="settings.picture">
					        <md-item-content>
					          
					          <div class="md-tile-content item">
					           <span class="txt-dgrey txt-normal">Change Profile Picture</span>
					          </div>
					        </md-item-content>
					      </md-item>
					      <md-item >
					      <md-item data-ui-sref="settings.password">
					        <md-item-content>
					          
					          <div class="md-tile-content item">
					           <span class="txt-dgrey txt-normal">Change Password</span>
					          </div>
					        </md-item-content>
					      </md-item>
					      <md-item >
					        <md-item-content>
					          
					          <div class="md-tile-content item">
					           <span class="txt-dgrey txt-normal"><a href="/api/auth/signout" target="_self" >Signout</a></span>
					          </div>
					        </md-item-content>
					      </md-item>

					    </md-list>
					  </md-content>
					 </div> 

					
      		</div>
					
					
					
	</div>
					
	</div>
    </md-toolbar> -->

</div>