<!-- <section >
    <div class="page-header">
        <h1>Suppliers</h1>
    </div>
    <div class="list-group">
        <a  data-ng-href="/#!/suppliers/{{supplier._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="supplier.created | date:'medium'"></span>
				by
				<span data-ng-bind="supplier.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="supplier.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!suppliers.$resolved || suppliers.length">
    	No Suppliers yet, why don't you <a href="/#!/suppliers/create">create one</a>?
    </div>
</section> -->

<section data-ng-controller="SuppliersController" layout="row" flex data-ng-init="find()">
    
    <div layout="column" class="left-spacer"  hide-md hide-sm>
        
    </div>
    <div layout="column" flex class="view">
  <div layout="row" layout-wrap>
    <div class="bg-white card-full">
      <div layout="row" class="bg-list-grey border-b pad-15" flex>
          <div layout="col">
              <span class="hd4 g-800">Suppliers</span>
          </div>
      </div>
      <!-- <div layout="row" class="bor-b pad-15 bor-t" flex>
          <div layout="col">
              <span class="hd4 g-800">Show</span>
          </div>
      </div> -->
      <md-content class="pad-0">
        
       <md-list>
        <md-list-item >
       <div layout="row" class="pad-10" flex >
          <div layout="row"  layout-align="start center" flex>
              <span class="hd4 bold">Supplier</span>
           </div>
           <div layout="row" layout-align="start center" flex>
              <span class="hd4 bold">Created</span>
           </div>
           
           <div layout="row" layout-align="end center" flex>
           <span class="hd4 bold">View</span>
           </div>
       </div>
      </md-list-item>
      
      
      
      <md-divider ></md-divider>
      <md-list-item data-ng-repeat="supplier in suppliers">
        <div layout="row" class="bor-b pad-10" flex ng-class-odd="'odd'" ng-class-even="'even'" >
           <div layout="row" layout-align="start center" flex>
              <span class="hd4 ">{{supplier.name}}</span>
           </div>
          <div layout="row"  layout-align="start center" flex>
              <span class="hd4 ">{{supplier.created}}</span>
           </div>
           
           
           <div layout="row" layout-align="end center" flex>
           <md-button data-ng-href="/#!/suppliers/{{supplier._id}}">
            <ng-md-icon icon="more_vert" style="fill: {{grey}}" size="20"></ng-md-icon> 
           </md-button>
             <span class="hd4"></span>
           </div>
       </div>
        
      </md-list-item>
      <div layout="row" class="pad-15" flex>
           <div class="col" flex>
              <span class="hd4 ">Total supplier: {{suppliers.length}}</span>
           </div>
          <div class="col" flex>
              <span class="hd4 bold"></span>
           </div>
           
       </div>
    </md-list>
       
    <div class="alert alert-warning text-center" data-ng-hide="!suppliers.$resolved || suppliers.length">
        No suppliers yet, why don't you <a href="/#!/suppliers/create">create one</a>?
    </div>


        
      </md-content>
        
      
      
    </div>

    </div>
  </div>
     
    </div>
</section>