<!-- <section data-ng-controller="SuppliersController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="supplier.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == supplier.user._id">
		<a class="btn btn-primary" href="/#!/suppliers/{{supplier._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="supplier.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="supplier.user.displayName"></span>
		</em>
	</small>
</section> -->

<section data-ng-controller="SuppliersController" layout="row" flex data-ng-init="findOne()">
    
    <div layout="column" class="left-spacer"  hide-md hide-sm>
        
    </div>
    <div layout="column" flex class="view">
	  <div layout="row" layout-wrap>
	    <div class="bg-white card-full">
	      <div layout="row" class="bg-list-grey border-b pad-15" flex>
	          <div layout="col">
	              <span class="hd4 g-800">Supplier: {{supplier.name}}</span>
	          </div>
	      </div>
      <md-content class="pad-0">
        <!-- Build Content here -->
        
       
       
    


        
      </md-content>   
    </div>


    </div>
    <div layout="row" layout-wrap >
        	<div class="bg-white card-third layout-margin" ng-repeat="plantation in supplier.plantations">
      
	      <md-content class="pad-10">
	        <p class="hd3">{{plantation.name}}</p>
	        
	      </md-content>
	        
	      
	      <div class="md-actions" layout="row" layout-align="end center">
	        <md-button>Action 1</md-button>
	        <md-button>Action 2</md-button>
	      </div>
	    </div>
        </div>
  </div>
     
    </div>
</section>