<section data-ng-controller="CompartmentsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Compartments</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="compartment in compartments" data-ng-href="/#!/compartments/{{compartment._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="compartment.created | date:'medium'"></span>
				by
				<span data-ng-bind="compartment.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="compartment.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!compartments.$resolved || compartments.length">
    	No Compartments yet, why don't you <a href="/#!/compartments/create">create one</a>?
    </div>
</section>