/*Fonts*/
/* Thin */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 100;
	src: local('Roboto Thin'), local('Roboto-Thin'), url("Roboto-Thin.ttf") format('truetype');
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 100;
	src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url("Roboto-ThinItalic.ttf") format('truetype');
}

/* Light */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Light'), local('Roboto-Light'), url("Roboto-Light.ttf") format('truetype');
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 300;
	src: local('Roboto Light Italic'), local('Robot-LightItalic'), url("Robot-LightItalic.ttf") format('truetype');
}
 
/* Normal */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Regular'), local('Roboto-Regular'), url("Roboto-Regular.ttf") format('truetype');
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 400;
	src: local('Roboto Italic'), local('Roboto-Italic'), url("Roboto-Italic.ttf") format('truetype');
}
 
/* Bold */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Bold'), local('Roboto-Bold'), url("Roboto-Bold.ttf") format('truetype');
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 700;
	src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url("Roboto-BoldItalic.ttf") format('truetype');
}

/* Black */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	src: local('Roboto Black'), local('Roboto-Black'), url("Roboto-Black.ttf") format('truetype');
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 900;
	src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url("Roboto-BlackItalic.ttf") format('truetype');
}


.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
	border-color:#FA787E;
}
.ng-valid.ng-dirty{
	border-color:#78FA89;
}

.header-profile-image {
	opacity: 0.8;
	height: 28px;
	width: 28px;
	border-radius: 50%;
	margin-right: 5px;
}

.open  .header-profile-image,
a:hover .header-profile-image {
	opacity: 1;
}

.user-header-dropdown-toggle {
	padding-top: 11px !important;
	padding-bottom: 11px !important;
}

.shadow {
	-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.48);
	-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.48);
	box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.48);
}

.light {
	font-family: Roboto;
	font-weight: 300;
}

.thin {
	font-family: Roboto;
	font-weight: 100;
}

.normal {
	font-family: Roboto;
	font-weight: 400;
}

.bold {
	font-family: Roboto;
	font-weight: 700;
}

.black {
	font-family: Roboto;
	font-weight: 900;
}

.title {
	font-size: 2.3em;
}

.hd-large {
	font-size: 3.0em;
}

.hd1 {

  font-size: 2.1em;

 }

.hd2 {
  font-size: 1.5em;
 }

.hd3 {
  font-size: 1.17em;
 }

.hd4 {
  font-size: 1em;
 }

.hd5 {
  font-size: 0.83em;
}

.hd6 {
  font-size: 0.75em;
 }

.hd7 {
	font-size: 0.65em;
}

 .normal-ul {
	list-style-type: none;
	padding: 0;
}

/*special font classes */
.sidenav-primary-text {
  font-size: 0.90em;
  font-weight: 400;

}

/*Hover Classes*/


/*color*/
.blue {
	color: #2196F3;
}

.green {
	color: #CDDC39;
}

.deeporange {
	color: #DD2C00;
}

.blk {
	color: black;
}

.dgrey {
	color: #616161;
}

.charcoal {
	color: #212121;
}

.white {
	color: white;
}

.red {
	color: red;
}

/*grey shades*/

.dgrey {
	color: #616161;
}

.g-50 {
	color: #FAFAFA;
}

.g-100 {
	color: #F5F5F5;
}

.g-200 {
	color: #EEEEEE;
}

.g-300 {
	color: #E0E0E0;
}

.g-400 {
	color: #BDBDBD;
}

.g-500 {
	color: #9E9E9E;
}

.g-600 {
	color: #757575;
}

.g-700 {
	color: #616161;
}

.g-800 {
	color: #424242;
}

.g-900 {
	color: #212121;
}


/*background fills*/
.bg-white {
	background-color: white;
}

.bg-list-grey {
	background-color: #f6f6f7;
} 

.bg-lightestgrey {
	background-color: #FAFAFA;
}

.bg-llgrey {
	background-color: #F5F5F5;
}

.bg-gen {
	background-color: #FAFAFA;
}

.bg-lgrey {
	background-color: #EEEEEE;
}

.bg-dgrey {
	background-color: #9E9E9E;
}

.bg-charcoal {
	background-color: #212121;
}



.bg-alpha {
	background-color: rgba(0, 0, 0, 0.5);
}

.bg-alpha-10 {
	background-color: rgba(0, 0, 0, 0.1);
}

.bg-alpha-80 {
	background-color: rgba(0, 0, 0, 0.8);
}

.bg-blue {
	background-color: #2196f3;
}

.bg-bgdark {
	background-color: #263238;
}

/*color backgrounds*/
.bg-green {
	background-color: #4CAF50;
}

.bg-red {
	background-color: #F44336;
}

.rounded-2 {
	border-radius: 2px;
	
	margin: 3px;
}


.h-100 {
	height: 100%;
}

.s-100 {
	width: 100%;
	height: 100%;
	margin: 0;
}

.topbar {
	background-color: white;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.5);
	margin-bottom: 5px;
	z-index: 31;
}

.profile-block {
	position: fixed;
	top: 50px;
	right: 0;
	background-color: white;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.5);
	margin-bottom: 5px;
	z-index: 20;
}

.profile-btn {
	width: 100%;
}

.drop-sh {
	-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.69);
	-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.69);
	box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.69);
}

.sidebar {
	position: fixed;
	margin-top: 65px;

	z-index: 20;
}

.left-spacer {
	width: 240px;
	height: 100px;
}

.header-spacer {
	width: 250px;
}

.icon-sidebar {
	height: 100%;
	background-color: #263238;
	width: 50px;
}

.sidebar-icon-btn {
	width: 100%;
}


.tool-btn {
	height: 50px;
	width: 50px;
	
}

.login-btn {
	height: 50px;

}

.sidebar-btn {
	width: 250px;
	padding: 5px 0 5px 0;
	margin: 0px ;
}

.sidebar-sub {
	background-color: #EEEEEE;
	
}
/*text formatting*/
.txt-justify {
	text-align: justify;
}

.txt-c {
	text-align: center;
}

.logo-header{
	width: 240px;
}

/*blokc/divs/area styling*/


.card-image {
	height: 250px;
}

.card-image-full {
	height: 500px;
}

.z-high {
	z-index: 50;
}

.nh-icon {
	padding-top: 5px;

}



.ad-image {
min-height: 600px;

background-position: center;
  
  /* Image doesn't repeat */
background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
background-attachment: local;
  
  /* This is what makes the background image rescale based on its container's size */
background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
background-color:#EEEEEE;
}

/*Images*/

.pos-rt {
	position: absolute;
	right: 0;
	top: 0;
}

/*margins and paddings*/
.pad-0 {
	padding: 0;
}


.mar-0 {
	margin: 0;
}

.pad-t-8 {
	padding-top: 8px;
}

.pad-t-10 {
	padding-top: 10px;
}

.pad-t-15 {
	padding-top: 15px;
}


.pad-r-10 {
	padding-right: 10px;
}

.pad-r-20 {
	padding-right: 20px;
}

.pad-l-10 {
	padding-left: 10px;
}

.pad-l-20 {
	padding-left: 20px;
}

.pad-b-15 {
	padding-bottom: : 15px;
}

.pad-l-15 {
	padding-left: 15px;
}

.pad-t-20 {
	padding-top: 20px;
}

.pad-t-50 {
	padding-top: 50px;
}

.pad-20 {
	padding: 20px;
}

.pad-5 {
	padding: 5px;
}

.pad-10 {
	padding: 10px;
}

.pad-15 {
	padding: 15px;
}

.view {
	padding: 25px;
}



.pad-10-20 {
	padding: 10px 20px 10px 20px;
}

.pad-t-5 {
	padding-top: 5px;
}

.mar-t-5 {
	margin-top: 5px;
}
.mar-t-10 {
	margin-top: 10px;
}

.mar-t-8 {
	margin-top: 8px;
}

.mar-t-15 {
	margin-top: 15px;
}

.mar-t-20 {
	margin-top: 20px;
}

.mar-2 {
	margin: 2px;
}



.mar-t-100 {
	margin-top: 100px;
}

.mar-b-15 {
	margin-bottom: 15px;
}

.mar-b-20 {
	margin-bottom: 20px;
}

.mar-b-10 {
	margin-bottom: 10px;
}

.mar-b-5 {
	margin-bottom: 5px;
}

.mar-5 {
	margin: 5px;
}

.mar-l-5 {
	margin-left: 5px;
}

.mar-l-10 {
	margin-left: 10px;
}

.mar-l-15 {
	margin-left: 15px;
}

.mar-l-20 {
	margin-left: 20px;
}

.mar-r-5 {
	margin-right: 5px;
}
.mar-r-20 {
	margin-right: 20px;
}

.mar-10 {
	margin: 10px;
}

.mar-b-20 {
	margin-bottom: 20px;
}

.mar-b-5 {
	margin-bottom: 5px;
}

.mar-t-b-5 {
	margin-top: 5px;
	margin-bottom: 5px;
}


.w-100 {
	width: 100%;
}

.shop-image {
	height: 100px;
}

.min-h-350 {
	min-height: 350px;
}

/*===== Specifics  ===*/


.overlay {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	min-height: inherit;
	background-size: 100%;
	z-index: 1000;
	overflow: 
}

.pos-a-t {
	position: absolute;
	top: 0;
	left: 0;
}

.pos-a-b {
	position: absolute;
	bottom: 0;
	left: 0;
}

.pos-rel {
	position: relative;
	display: inline-block;
}

.rel-button {
	position: relative;
	top: 0;
	right: 0;
}

.bottom-sheet {
	position: absolute;
	bottom: 0;
	left:  0;
}

.block {
	display: block;
}

.face {
  border-radius: 100px;
  border: 1px solid #ddd;
  width: 180px;
  margin: 16px; 

}


.thumbnail {
	width: 50px;
  	margin: 16px;
  	background-color: #EEEEEE;
}

.thumb-sponsor {
	width: 140px;
  	margin: 16px;
}

.list-icon {
	margin-left: 20px;
	margin-right: 20px;
}

.card-height = {
	height: 400px;
}

.rel-down {
	position: relative;
	right: 20px;
	top: 65px;
}

.account-select {
	font-weight: normal;
	font-size: 16px;
}

.list-img-holder {
		border-radius: 100px;
	  border: 1px solid #ddd;
	  width: 180px;
	  height: 180px;
	  margin: 16px; 
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: 100%;
}


.sidenav-profile {
	background-position: center;
  
  /* Image doesn't repeat */
	background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
	background-attachment: local;
  
  /* This is what makes the background image rescale based on its container's size */
	background-size: cover;
}

.sidenav-profile-pic {
	height: 60px;
	width: 60px;
	border-radius: 60px;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	/*margin: 10px;*/

}
.border-r-w {
	border-right: 1px solid #616161;
}

.border-r {
	border-right: 1px solid #616161;
	
}


.round {
		border-radius: 50%;
	  border: 3px solid white;
	  width: 180px;
	  height: 180px;
	  margin: 16px; 
	  background-color: #EEEEEE;
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: cover;
	  -webkit-box-shadow: 3px 3px 21px 0px rgba(50, 50, 50, 0.42);
		-moz-box-shadow:    3px 3px 21px 0px rgba(50, 50, 50, 0.42);
		box-shadow:         3px 3px 21px 0px rgba(50, 50, 50, 0.42);
    
}

.round-list-icon {
	border-radius: 50%;
	width: 60px;
	height: 60px;
	text-align: center;
	padding-top: 5px;
	margin: 4px;
}

.round-icon-border {
	border: 5px solid white;
}



.center-hor {
	margin: 0 auto;
}

.fixed {

	position: fixed;
	left: 0;
	top: 0;

}

.overlay {

}

.abs-r-0 {

	position: absolute;
	right: 0;
	top: 0;
	
}

.abs-100 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	overflow-y:scroll;
    overflow-x:hidden;
	min-height: 200%;
	z-index: 2900;
}



.fixed-100 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	height: auto;
	z-index: 2900;
}

.accordion__tab {
	z-index: 30;


}

.accordion__tab-content {
	z-index: 20;
}

.response {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 32;
}

.length-block {
	
	background-color: #F4511E;
	margin-left: 5px;
	width: 50px;
	height: 50px;
}

.overlay {
	position: relative;
	left: 0;
	top: 0;
	
	width: 100%;
	height: 100%;
}

.backdrop {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 32;
}

.none {
	width: 0;
	height: 0;
	display: none;
}

.add-btn {
	min-width: 30px;
}

.number-large {
	border: 1px solid;
	min-height: 200px;
	min-width: 200px;
}

.nh-dialog {
	width: 400px;
}

.bor {
border: 1px #E0E0E0 solid;
}

.bor-w {
border: 1px #E0E0E0 solid;	
}

.bor-r {
	border-right: 1px #E0E0E0 solid;
}

.bor-l {
	border-left: 1px #E0E0E0 solid;
}

.bor-b {
	border-bottom: 1px #E0E0E0 solid;
}

.bor-t {
	border-top: 1px #E0E0E0 solid;
}

.third-width {
	width: 32.5%;
}

.shadow-general {
	-webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.23);
	-moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.23);
	box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.23);
}

.card-third {
	-webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.23);
	-moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.23);
	box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.23);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 5px;
	margin: 3px;
	
}

.card-half {
	-webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.23);
	-moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.23);
	box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.23);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 5px;
	margin: 3px;
}

.card-full {
	-webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.23);
	-moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.23);
	box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.23);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	
	
}



/*Lists Odd and Even*/
.odd {
 	background-color: #f6f6f7
}

.even {
	background-color: white;
}

.placard {
	width: 100px;
	height: 100px;
	background-color: #EEEEEE;
}

.view-panel {
	background-color: #607D8B;
	padding: 5px 25px 70px 25px;
	color: #ECEFF1;
}

.view-panel-view {
	margin: -53px 25px 0px 25px;
}

.round-c-2 {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}


/*Mobile Small Screens*/
@media (max-width: 600px) {
 
.card-third {
		-webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.23);
		-moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.23);
		box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.23);
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		padding: 5px;
		margin: 3px;
		width: 100%;
	}

	.card-half {
		-webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.23);
		-moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.23);
		box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.23);
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		padding: 5px;
		margin: 3px;
		width: 100%;
	}

	.card-full {
		-webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.23);
		-moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.23);
		box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.23);
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		padding: 5px;
		margin: 3px;
		width: 100%;
	}

}

/*Medium Screens*/
@media (min-width: 600px) and (max-width: 960px) {
  
	.card-third {
		-webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.23);
		-moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.23);
		box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.23);
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		padding: 5px;
		margin: 3px;
		width: 49%;
	}

	.card-half {
		-webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.23);
		-moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.23);
		box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.23);
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		padding: 5px;
		margin: 3px;
		width: 49%;
	}

	.card-full {
		-webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.23);
		-moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.23);
		box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.23);
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		padding: 5px;
		margin: 3px;
		width: 100%;
	}

}

/*Large Screens*/
@media (min-width: 960px) and (max-width: 1200px) {
 
	.card-third {
		-webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.23);
		-moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.23);
		box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.23);
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		padding: 5px;
		margin: 3px;
		width: 32.5%;
	}

	.card-half {
		-webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.23);
		-moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.23);
		box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.23);
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		padding: 5px;
		margin: 3px;
		width: 49%;
	}

	.card-full {
		-webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.23);
		-moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.23);
		box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.23);
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		padding: 5px;
		margin: 3px;
		width: 100%;
	}

}

.monthly-tabs {
	color: white;
}



/*Wide X-tra Large*/
@media (min-width: 1200px) and (max-width: 3000px) {
  
	.card-third {
		-webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.23);
		-moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.23);
		box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.23);
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		padding: 5px;
		margin: 3px;
		width: 32.85%;
	}

	.card-half {
		-webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.23);
		-moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.23);
		box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.23);
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		padding: 5px;
		margin: 3px;
		width: 49%;
	}

	.card-full {
		-webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.23);
		-moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.23);
		box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.23);
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		/*padding: 5px;*/
		margin: 3px;
		width: 100%;
	}

}

/*ANIMATION*/

.slidingVert.ng-hide-remove {
	-webkit-animation: slideInLeft 0.7s;
  	-moz-animation: slideInLeft 0.7s;
 	 -o-animation: slideInLeft 0.7s;
  	animation: slideInLeft 0.7s;
}

.slidingVert.ng-hide {
	/*-webkit-animation: fadeOut 0.3s;
  	-moz-animation: fadeOut 0.3s;
 	 -o-animation: fadeOut 0.3s;
  	animation: fadeOut 0.3s;*/
}

/*.firstSampleAnimation.ng-hide-add,*/
   .firstSampleAnimation.ng-hide-remove {
   -webkit-animation: slideInRight 1s;
  	-moz-animation: slideInRight 1s;
 	 -o-animation: slideInRight 1s;
  	animation: slideInRight 1s;
 }

   .firstSampleAnimation.ng-hide {
     -webkit-animation: slideOutRight 1s;
  	-moz-animation: slideOutRight 1s;
 	 -o-animation: slideOutRight 1s;
  	animation: slideOutRight 1s;
   }



.bouncing.ng-enter, .bouncing.ng-move {
	-webkit-animation: bounceInDown 1s;
  	-moz-animation: bounceInDown 1s;
 	 -o-animation: bounceInDown 1s;
  	animation: bounceInDown 1s;
};

.content {
	background-color: red;
	padding: 50px;
}

.content.ng-leave {
		
}

.content.ng-enter, .content.ng-move {
  			-webkit-animation: zoomIn 0.7s;
	      	-moz-animation: zoomIn 0.7s;
	     	 -o-animation: zoomIn 0.7s;
	      	animation: zoomIn 0.7s;
}

/*END OF ANIMATIONS*/


/*Tooltips*/
.tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button, .tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button:hover {
  x-shadow: none;
  border: none;
  transform: none;
  -webkit-transform: none; }
.tooltipdemoBasicUsage .left {
  top: 0px !important;
  left: 0px !important; }
.tooltipdemoBasicUsage .right {
  top: 70px !important;
  right: 56px !important; }


/*select Lists*/
.selectdemoOptionsWithAsyncSearch p {
  padding: 0 20px;
  text-align: center; }
.selectdemoOptionsWithAsyncSearch p.md-caption {
  color: #777; }
.selectdemoOptionsWithAsyncSearch .demo-content {
  min-height: 348px; }

  .gridListdemoBasicUsage md-grid-list {
  margin: 8px; }
.gridListdemoBasicUsage .gray {
  background: #f5f5f5; }
.gridListdemoBasicUsage .green {
  background: #b9f6ca; }
.gridListdemoBasicUsage .yellow {
  background: #ffff8d; }
.gridListdemoBasicUsage .blue {
  background: #84ffff; }
.gridListdemoBasicUsage .purple {
  background: #b388ff; }
.gridListdemoBasicUsage .red {
  background: #ff8a80; }
.gridListdemoBasicUsage md-grid-tile {
  transition: all 400ms ease-out 50ms; }

 /*tabs*/
 .tabsdemoDynamicTabs md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicTabs md-content md-tabs {
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicTabs md-content md-tabs md-tab-content {
      background: #f6f6f6; }
    .tabsdemoDynamicTabs md-content md-tabs md-tabs-canvas {
      background: white; }
  .tabsdemoDynamicTabs md-content h1:first-child {
    margin-top: 0; }
.tabsdemoDynamicTabs md-input-container {
  padding-bottom: 0; }
.tabsdemoDynamicTabs .remove-tab {
  margin-bottom: 40px; }
.tabsdemoDynamicTabs .demo-tab > div > div {
  padding: 25px;
  box-sizing: border-box; }
.tabsdemoDynamicTabs .edit-form input {
  width: 100%; }
.tabsdemoDynamicTabs md-tabs {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
.tabsdemoDynamicTabs md-tab[disabled] {
  opacity: 0.5; }
.tabsdemoDynamicTabs label {
  text-align: left; }
.tabsdemoDynamicTabs .long > input {
  width: 264px; }
.tabsdemoDynamicTabs .md-button.add-tab {
  transform: translateY(5px); }



.os-windows.os-windows::after {content:" os-windows ";}
.os-mac.os-mac::after {content:" os-mac ";}
.os-ios.os-ios::after {content:" os-ios ";}
.os-android.os-android::after {content:" os-android ";}
.os-linux.os-linux::after {content:" os-linux ";}
.os-unix.os-unix::after {content:" os-unix ";}
.os-firefoxos.os-firefoxos::after {content:" os-firefoxos ";}
.browser-chrome.browser-chrome::after {content:" browser-chrome ";}
.browser-firefox.browser-firefox::after {content:" browser-firefox ";}
.browser-safari.browser-safari::after {content:" browser-safari ";}
.browser-opera.browser-opera::after {content:" browser-opera ";}
.browser-ie.browser-ie::after {content:" browser-ie ";}
.device-android.device-android::after {content:" device-android ";}
.device-ipad.device-ipad::after {content:" device-ipad ";}
.device-iphone.device-iphone::after {content:" device-iphone ";}
.device-ipod.device-ipod::after {content:" device-ipod ";}
.device-blackberry.device-blackberry::after {content:" device-blackberry ";}
.device-firefoxos.device-firefoxos::after {content:" device-firefoxos ";}


.fabToolbardemoBasicUsage md-fab-toolbar.md-left md-fab-trigger.align-with-text {
  left: 7px; }

  	.progress-wrapper{
            position: relative;
            margin:20px auto;
            font-size: 40px;
        }

        .progress{
            position: absolute;
            width: 100%;
            height: 100%;
            line-height: 6em;
            font-size: 1em;
            text-align: center;
            color: black;
            font-weight: 100;
           	background: none;
           	border: none;
           	box-shadow:         none;

        }